# Build and Release Folders
bin/
bin-debug/
bin-release/
RinoServer/models/libsvm-3.17/

RinoServer/models/main/action
RinoServer/models/main/a_call
RinoServer/models/main/a_sms
RinoServer/models/main/a_email
RinoServer/models/main/a_site
RinoServer/models/main/a_search
RinoServer/models/main/a_alarm
RinoServer/models/main/a_balance

# Other files and folders
.settings/
.metadata
.class
project.properties

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
